In [1]:
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG (1).csv to FoodBalanceSheets_E_Africa_NOFLAG (1).csv

In [26]:
import numpy as np
import pandas as pd
path = '/content/FoodBalanceSheets_E_Africa_NOFLAG (1).csv'
my_data = pd.read_csv(path, encoding = 'latin1')
#my_data.head()
sum = my_data['Y2014'] + my_data['Y2017']
print(sum)

0        80313.00
1            0.00
2         6718.00
3          187.72
4          160.25
           ...
60938       61.00
60939        4.39
60940        4.00
60941        0.14
60942        0.06
Length: 60943, dtype: float64

In [28]:
my_data.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [39]:
# percenta ge = (sum of total number / 100 )* 100
my_data['Y2016'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Name: Y2016, Length: 60943, dtype: bool

In [ ]:
#higest correlation
corr =

In [46]:
# highest sum of import quantity
highest_sum = my_data.groupby('Element')
highest_sum.first()

                                        Area Code     Area  ...     Y2017     Y2018
Element                                                     ...
Domestic supply quantity                        4  Algeria  ...      0.00      0.00
Export Quantity                                 4  Algeria  ...     10.00     17.00
Fat supply quantity (g/capita/day)              4  Algeria  ...     80.19     77.28
Feed                                            4  Algeria  ...   4667.00   5266.00
Food                                            4  Algeria  ...   8941.00   9219.00
Food supply (kcal/capita/day)                   4  Algeria  ...   3341.00   3322.00
Food supply quantity (kg/capita/yr)             4  Algeria  ...    216.02    218.31
Import Quantity                                 4  Algeria  ...  13039.00  13182.00
Losses                                          4  Algeria  ...   1121.00   1253.00
Other uses (non-food)                           4  Algeria  ...    840.00    951.00
Processing                                      4  Algeria  ...     33.00     44.00
Production                                      4  Algeria  ...   3478.00   6065.00
Protein supply quantity (g/capita/day)          4  Algeria  ...     92.82     91.83
Residuals                                       4  Algeria  ...      0.00     -8.00
Seed                                            4  Algeria  ...    202.00    278.00
Stock Variation                                 4  Algeria  ...    705.00   2226.00
Total Population - Both sexes                   4  Algeria  ...  41389.00  42228.00
Tourist consumption                             7   Angola  ...      0.00      0.00

[18 rows x 11 columns]

In [59]:
total_sum = highest_sum.sum()
print(total_sum)

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [60]:
total_sum['Y2014']

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [63]:
total_sum['Y2018'].sum()

8554629.96

In [72]:
my_data.countries.unique()

AttributeError: ignored